---
import FooterButton from "./FooterButton.astro";
console.log("javascript")

---

<footer class="py-8 px-4 mx-auto max-w-xl lg:pg-6 bg-slate-100">
    <div class="flex flex-col items-center justify-between w-full text-right md:flex-row text-black">
      <FooterButton class="footer_about" href="/" >
        <svg 
        slot="before"
        width="44" height="44" viewBox="0 0 24 24" 
        stroke-width="1.5" 
        stroke="#000000" 
        fill="none" 
        stroke-linecap="round" 
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M19.875 6.27c.7 .398 1.13 1.143 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z" />
        <path d="M12 9h.01" />
        <path d="M11 12h1v4h1" />
      </svg>About us</FooterButton>
      <FooterButton class="footer_contact" href="/">Contact</FooterButton>
      <FooterButton class="footer_policy" href="/">Privacy policy</FooterButton>
      <FooterButton class="footer_cookies" href="/">Cookies</FooterButton>
      <FooterButton class="footer_disclaimer" href="/">Legal disclaimer</FooterButton>
    </div>
</footer>

<style>

.footer-content a {
  color: #000000;
  font-weight: bold;
  font-family: Cairo;
}
</style>
